# ignore generated .c files, and other module build traces
*.c
*.bs
blib
pm_to_blib
Makefile
ppport.h
!/Devel-PPPort/module2.c
!/Devel-PPPort/module3.c
!/File-Glob/bsd_glob.c
!/XS-APItest/core.c
!/XS-APItest/exception.c
!/XS-APItest/notcore.c
!/XS-Typemap/stdio.c
/attributes/Makefile.PL
/Data-Dumper/Makefile.PL
/Filter-Util-Call/Makefile.PL
/Hash-Util-FieldHash/Makefile.PL
/Math-BigInt-FastCalc/Makefile.PL
/mro/Makefile.PL
/Opcode/Makefile.PL
/PerlIO-encoding/Makefile.PL
/PerlIO-scalar/Makefile.PL
/PerlIO-via/Makefile.PL
/Sys-Hostname/Makefile.PL
/Test-Harness/Makefile.PL
/Text-Soundex/Makefile.PL

# ignore all vim swap files but the one bundled in Module::Pluggable for testing
*.swp
!/Module-Pluggable/t/lib/EditorJunk/Plugin/Bar.pm.swp
