# arch-specific pods
/perlaix.pod
/perlamiga.pod
/perlapollo.pod
/perlbeos.pod
/perlbs2000.pod
/perlce.pod
/perlcn.pod
/perlcygwin.pod
/perldgux.pod
/perldos.pod
/perlepoc.pod
/perlfreebsd.pod
/perlhaiku.pod
/perlhpux.pod
/perlhurd.pod
/perlirix.pod
/perljp.pod
/perlko.pod
/perllinux.pod
/perlmachten.pod
/perlmacos.pod
/perlmacosx.pod
/perlmint.pod
/perlmodlib.pod
/perlmpeix.pod
/perlnetware.pod
/perlopenbsd.pod
/perlos2.pod
/perlos390.pod
/perlos400.pod
/perlplan9.pod
/perlqnx.pod
/perlriscos.pod
/perlsolaris.pod
/perlsymbian.pod
/perltoc.pod
/perltru64.pod
/perltw.pod
/perluts.pod
/perlvmesa.pod
/perlvms.pod
/perlvos.pod
/perlwin32.pod

# scripts etc
/pod2html
/pod2html.bat
/pod2latex
/pod2latex.bat
/pod2man
/pod2man.bat
/pod2text
/pod2text.bat
/pod2usage
/pod2usage.bat
/podchecker
/podchecker.bat
/podselect
/podselect.bat

# generated
/perldelta.pod
/perlapi.pod
/perlintern.pod
