CONFIGURE_ARGS="\
        linux-generic32 \
        no-idea no-bf no-cast no-seed no-md2 \
        -DL_ENDIAN"

# unneeded directories
UNNEEDED_SOURCES="\
	MacOS	    \
	Netware	    \
	VMS	    \
	apps/demoCA \
	apps/set    \
	bugs	    \
	certs	    \
	crypto/bf   \
	crypto/cast \
	crypto/cms  \
	crypto/idea \
	crypto/md2  \
	crypto/rc5  \
	crypto/seed \
	demos	    \
	doc	    \
	engines	    \
	ms	    \
	os2	    \
	perl	    \
	shlib	    \
	test	    \
	times	    \
	tools	    \
	util"

# unneeded files
UNNEEDED_SOURCES+="\
	CHANGES					\
	CHANGES.SSLeay				\
	ChangeLog.0_9_7-stable_not-in-head	\
	ChangeLog.0_9_7-stable_not-in-head_FIPS \
	Configure				\
	FAQ					\
	INSTALL					\
	INSTALL.DJGPP				\
	INSTALL.MacOS				\
	INSTALL.NW				\
	INSTALL.OS2				\
	INSTALL.VMS				\
	INSTALL.W32				\
	INSTALL.W64				\
	INSTALL.WCE				\
	LICENSE					\
	Makefile				\
	Makefile.bak				\
	Makefile.org				\
	Makefile.shared				\
	NEWS					\
	PROBLEMS				\
	README					\
	README.ASN1				\
	README.ENGINE				\
	apps/CA.pl.bak				\
	config					\
	crypto/opensslconf.h.bak		\
	include/openssl/blowfish.h		\
	include/openssl/cast.h			\
	include/openssl/idea.h			\
	include/openssl/md2.h			\
	install.com				\
	makevms.com				\
	openssl.doxy				\
	openssl.spec"

OPENSSL_PATCHES="\
        progs.patch                 \
        arm-asm.patch               \
        small_records.patch         \
        handshake_cutthrough.patch  \
        bad_version.patch"

OPENSSL_PATCHES_progs_SOURCES="\
	apps/progs.h \
	apps/speed.c"

OPENSSL_PATCHES_arm_asm_SOURCES="\
	0.9.9-dev/README.android          \
	0.9.9-dev/aes/aes-armv4.pl        \
	0.9.9-dev/aes/aes-armv4.s         \
	0.9.9-dev/bn/armv4-mont.pl        \
	0.9.9-dev/bn/armv4-mont.s         \
	0.9.9-dev/sha/sha1-armv4-large.pl \
	0.9.9-dev/sha/sha1-armv4-large.s  \
	0.9.9-dev/sha/sha256-armv4.pl     \
	0.9.9-dev/sha/sha256-armv4.s      \
	0.9.9-dev/sha/sha512-armv4.pl     \
	0.9.9-dev/sha/sha512-armv4.s"

OPENSSL_PATCHES_handshake_cutthrough_SOURCES="\
	apps/s_client.c \
	ssl/s3_clnt.c   \
	ssl/s3_lib.c    \
	ssl/ssl.h       \
	ssl/ssl3.h      \
	ssl/ssl_lib.c   \
	ssl/ssltest.c   \
	test/testssl"

OPENSSL_PATCHES_handshake_cutthrough_SOURCES="\
	crypto/err/err_all.c"

OPENSSL_PATCHES_small_records_SOURCES="\
	ssl/d1_pkt.c   \
	ssl/s23_srvr.c \
	ssl/s3_both.c  \
	ssl/s3_pkt.c   \
	ssl/ssl.h      \
	ssl/ssl3.h     \
	ssl/ssltest.c  \
	test/testssl"

OPENSSL_PATCHES_bad_version_SOURCES="\
	ssl/s3_pkt.c"
