<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.google.ase"
  android:versionName="19"
  android:versionCode="19">
  <application
    android:debuggable="true"
    android:icon="@drawable/ase_logo_48"
    android:label="@string/application_title"
    android:name=".AseApplication">
    <activity
      android:name=".activity.ScriptManager">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.CREATE_SHORTCUT" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.PICK" />
        <data
          android:scheme="content"
          android:path="ase/scripts" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity-alias
      android:name="LocalePlugin"
      android:targetActivity=".activity.ScriptManager"
      android:label="@string/application_title"
      android:icon="@drawable/ase_logo_32">
      <intent-filter>
        <action
          android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity-alias>
    <receiver
      android:name=".locale.LocaleReceiver">
      <intent-filter>
        <action
          android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
      </intent-filter>
    </receiver>
    <activity
      android:name=".activity.AsePreferences" />
    <activity
      android:name=".terminal.Terminal"
      android:windowSoftInputMode="adjustResize"
      android:configChanges="keyboardHidden|orientation">
    </activity>
    <activity
      android:name=".activity.ScriptEditor">
      <intent-filter>
        <action
          android:name="com.google.ase.action.EDIT_SCRIPT" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.ApiBrowser"
      android:configChanges="keyboardHidden|orientation" />
    <activity
      android:name=".activity.InterpreterInstaller"
      android:configChanges="keyboardHidden|orientation" />
    <activity
      android:name=".activity.InterpreterUninstaller"
      android:configChanges="keyboardHidden|orientation" />
    <activity
      android:name=".activity.UrlDownloader"
      android:configChanges="keyboardHidden|orientation" />
    <activity
      android:name=".activity.ZipExtractor"
      android:configChanges="keyboardHidden|orientation" />
    <activity
      android:name=".activity.AseServiceLauncher"
      android:taskAffinity=""
      android:theme="@android:style/Theme.Translucent">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.AseServiceHelper"
      android:theme="@android:style/Theme.Translucent" />
    <service
      android:name=".activity.AseService" />
    <activity
      android:name=".activity.InterpreterManager" />
    <activity
      android:name=".activity.LogcatViewer" />
    <activity
      android:name=".activity.ScriptsLiveFolder"
      android:label="Scripts">
      <intent-filter>
        <action
          android:name="android.intent.action.CREATE_LIVE_FOLDER" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <provider
      android:name=".provider.ScriptProvider"
      android:authorities="com.google.ase.provider.scriptprovider" />
  </application>
  <uses-permission
    android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission
    android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission
    android:name="android.permission.CALL_PHONE" />
  <uses-permission
    android:name="android.permission.SEND_SMS" />
  <uses-permission
    android:name="android.permission.VIBRATE" />
  <uses-permission
    android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission
    android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission
    android:name="android.permission.PERSISTENT_ACTIVITY" />
  <uses-permission
    android:name="android.permission.RESTART_PACKAGES" />
  <uses-permission
    android:name="android.permission.GET_TASKS" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission
    android:name="android.permission.RECORD_AUDIO" />
  <uses-permission
    android:name="android.permission.READ_LOGS" />
  <uses-sdk
    android:minSdkVersion="3"></uses-sdk>
<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
</manifest>