<html>
<head><title>BeanShell Test Servlet</title></head>
<body>

<h1>BeanShell Test Servlet</h1>
<!-- TEMPLATE-version -->

<!-- TEMPLATE-scriptResult -->

<h2>Script</h2>
<form method="POST" action="<!-- TEMPLATE-servletURL -->">
<TEXTAREA name="bsh.script" rows="10" cols="80">
<!-- TEMPLATE-script-->
</TEXTAREA>
<p>
Capture Stdout/Stderr:
<INPUT type="checkbox" <!-- TEMPLATE-captureOutErr --> name="bsh.servlet.captureOutErr" value="true">
Display Raw Output:
<INPUT type="checkbox" name="bsh.servlet.output" value="raw">
<p>
<INPUT type="submit" value="Evaluate">
</form>

</body>
<html>
