<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.googlecode.android_scripting.tests">
  <application>
    <uses-library
      android:name="android.test.runner" />
  </application>
  <uses-sdk
    android:minSdkVersion="3"/>
  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="com.googlecode.android_scripting"
    android:label="Tests for SL4A." />
</manifest>