/Attribute
/B.pm
/B
/Compress
/Config.pm
/Config.pod
/Config_heavy.pl
/Config_git.pl
/DB_File.pm
/Data
/Devel/DProf.pm
/Devel/InnerPackage.pm
/Devel/PPPort.pm
/Devel/Peek.pm
/Digest/MD5.pm
/Digest/SHA.pm
/DynaLoader.pm
/Encode.pm
/Encode
/Errno.pm
/ExtUtils/Miniperl.pm
/Fcntl.pm
/File/Glob.pm
/File/GlobMapper.pm
/Filter/Util
/GDBM_File.pm
/Hash
/I18N/Langinfo.pm
/IO.pm
/IO/Compress
/IO/Dir.pm
/IO/File.pm
/IO/Handle.pm
/IO/Pipe.pm
/IO/Poll.pm
/IO/Seekable.pm
/IO/Select.pm
/IO/Socket.pm
/IO/Socket
/IO/Uncompress
/IPC/Msg.pm
/IPC/Semaphore.pm
/IPC/SharedMem.pm
/IPC/SysV.pm
/List
/MIME
/Math/BigInt/FastCalc.pm
/Module/Pluggable.pm
/Module/Pluggable
/NDBM_File.pm
/O.pm
/ODBM_File.pm
/Opcode.pm
/POSIX.pm
/POSIX.pod
/PerlIO/encoding.pm
/PerlIO/scalar.pm
/PerlIO/via.pm
/Pod/Simple/t/corpus/2202jp.txt
/Pod/Simple/t/corpus/2202jpx.txt
/Pod/Simple/t/corpus/2202jpy.txt
/Pod/Simple/t/corpus2/polish_utf16be_bom.txt
/Pod/Simple/t/corpus2/polish_utf16le_bom.txt
/SDBM_File.pm
/Safe.pm
/Scalar
/Socket.pm
/Storable.pm
/Sys
/Text/Soundex.pm
/Time/HiRes.pm
/Time/Piece.pm
/Time/Seconds.pm
/Unicode/Normalize.pm
/XS
/XSLoader.pm
/attrs.pm
/auto
/encoding.pm
/lib.pm
/ops.pm
/re.pm
/threads.pm
/threads
/unicore/Canonical.pl
/unicore/CombiningClass.pl
/unicore/Decomposition.pl
/unicore/Exact.pl
/unicore/Name.pl
/unicore/PVA.pl
/unicore/Properties
/unicore/To
/unicore/lib
