<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.googlecode.jrubyforandroid"
  android:versionCode="0" android:versionName="0">
  <application
    android:icon="@drawable/ruby_icon"
    android:label="@string/app_name">
    <activity
      android:name=".JRubyMain"
      android:label="@string/app_name"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.googlecode.android_scripting.DISCOVER_INTERPRETERS" />
        <category
          android:name="android.intent.category.LAUNCHER" />
        <data
          android:mimeType="script/.rb" />
      </intent-filter>
    </activity>
    <provider
      android:authorities="com.googlecode.jrubyforandroid.jrubyprovider"
      android:name=".JRubyProvider" />
  </application>
  <uses-sdk
    android:minSdkVersion="3" />
  <uses-permission
    android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>